<div class="my-8">
  <h1 class="text-green-700 font-bold py-1">Editing blog</h1>
  
  <%= render "form", blog: @blog %>
  
  <br>
  
  <div>
    <%= link_to "Show this blog", @blog %> |
    <%= link_to "Back to blogs", blogs_path %>
  </div>
</div>
